* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.react-kanban-board {
    height: calc(100% - 28px);
}

.react-kanban-column {
    background: rgb(249, 250, 251);
    padding: 8px;
    border-radius: 2px;
    margin: 5px;
    max-width: 270px;
    min-width: 254px;
    box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #d4d4d5, 0 1px 3px 0 #d4d4d5;
}

.react-kanban-card {
    display: inline;
}

.react-kanban-column > div[role='button'] {
    margin-bottom: 8px;
}
